<div class="text-center font-natural mx-auto">
    <h1 class="text-orange-brown text-4xl">マダガスカル💗ラヴァ―へ</h1>
    <h1 class="text-3xl text-pink-red">天気情報</h1>
    <div class="text-3xl">
        <h1>場所：<%= @weather[:city_name] %></h1>
        <h1>現在の気温： <%= @weather[:temperature] %>℃</h1>
        <h1>最低気温： <%= @weather[:temp_min] %>℃</h1>
        <h1>最高気温： <%= @weather[:temp_max] %>℃</h1>
        <h1>湿度： <%= @weather[:humidity] %>%</h1>
        <h1>現在の天気： <%= @weather[:weather_description] %></h1>
    </div>
</div>

