<h1>天気情報</h1>
<h1>場所：<%= @weather[:city_name] %></h1>
現在の気温： <%= @weather[:temperature] %>
最低気温： <%= @weather[:temp_min] %>
最高気温： <%= @weather[:temp_max] %>
現在の天気： <%= @weather[:weather_description] %>
</h1>